.ui-dialog.ui-dialog-off-canvas.js-offCanvasPreviewer {
  z-index: 400 !important;
}
.js-offCanvasPreviewer #drupal-off-canvas:not(.drupal-off-canvas-reset),
.js-offCanvasPreviewer #drupal-off-canvas-wrapper {
  padding: 0em;
}

.js-offCanvasPreviewer .ui-resizable-handle {
  background:
    repeating-linear-gradient(
      45deg,
      #999,
      #999 2px,
      #eee 2px,
      #eee 4px
    );
}

.js-offCanvasPreviewer .ui-widget-header .ui-button {
  background-color: #000;
}
